// This is the main entry style point to the application styling
// Styles pertaining to the pages and specific components live here

@import "./navigation";

// Styles shared across the entire app are defined here,
// otherwise a nested folders should be created to house the more specific styles.
// Those are usually split by the page they appear on


.app {
  @include flex(0, center, flex-start, column);
  // display: flex;
  height: 100vh;
  width: 100vw;

  main {
    width: 100%;
    flex: 1;
  }
}