.button {
  &.btn-100 {
    width: 100%;
  }

  &.btn-wider {
    padding: 0 20px;
  }

  &.btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
  }

  &.btn-icon {
    width: 30px;
    height: 30px;
    padding: 0;
    @include flex(0, center, center);
  }

  &.btn-large {
    font-size: 1.6rem;
    height: 40px;
    padding: 0 15px;
  }
}
