.form-checkbox {
  display: block;

  &.reverse input[type="checkbox"] + label {
    flex-direction: row-reverse;
  }

  input[type="checkbox"] {
    display: none;

    & + label {
      @include flex(5px, flex-start, center);
      cursor: pointer;

      p {
        font-size: 1.4rem;
      }

      .icon {
        @include t();
        color: var(--color-text-lighter);
        transform: translateY(1px);

        svg {
          font-size: 2rem;
        }
      }

      &:hover {
        .icon {
          color: var(--color-text);
        }
      }
    }

    &:checked + label .icon {
      color: var(--color-text);
    }
  }
}
