.footer {
  width: 100%;
  @include flex(10px, space-between, center);
  border-top: 1px solid var(--color-border);
  padding: 0 10px;
  height: 25px;

  p,
  strong {
    @include font(400);
    font-size: 1.1rem;
    color: var(--color-text-light);
  }

  strong {
    @include font(500);
    text-transform: uppercase;
  }
}
