.navigation {
  @include flex(20px);
  width: 100%;
  // Height is set by the canvas configuration
  // height: 50px;
  border-bottom: 1px solid var(--color-border);
  padding: 0 var(--padding);

  .nav-dropdowns {
    @include flex(10px);
    height: 100%;
  }

  .fn-dropdowns {
    @include flex(5px);
  }

  .divider {
    height: 100%;
    border-right: 1px solid var(--color-border);
  }
}
