// Height is set by the canvas configuration
.navigation {
  @include flex(10px);
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  padding: 0 var(--padding);
  padding-left: 15px;
  position: relative;

  .progress-bar-wrap {
    @include t();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 0;
    overflow: hidden;

    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: var(--color-secondary);
    }

    &.is-active {
      height: 1px;
      opacity: 1;
    }
  }

  .nav-logo {
    img {
      transform: rotate(-45deg);
    }
  }

  .nav-dropdowns {
    @include flex(10px);
    height: 100%;

    &.fixed {
      // @include flex(0, space-between);
      // width: 241px;

      .button {
        @include font(400);
        color: var(--color-text-light);

        &:hover {
          color: var(--color-text);
        }
      }
    }
  }

  .btn-tab {
    position: relative;

    &.btn-gray {
      color: var(--color-accent);

      svg {
        color: var(--color-accent);
      }
    }
  }

  .fn-dropdowns {
    @include flex(10px);
  }

  .divider {
    height: 100%;
    border-right: 1px solid var(--color-border);
  }
}
