.sidebar {
  .sidebar-filter {
    display: block;
    width: 100%;
    padding-right: var(--padding);
    margin-bottom: 20px;
    padding-left: 45px;

    .filter-title {
      @include flex(0);
      position: relative;
      height: 25px;

      span {
        flex: 1;
        font-size: 1.4rem;
      }

      .icon {
        left: -25px;
        top: 4px;
        position: absolute;
        font-size: 1.8rem;
        color: var(--color-text-lighter);
      }
    }
  }
}
