.sidebar {
  .noise-preview {
    @include flex(0, center);
    width: 100%;
    margin-top: -20px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px solid var(--color-border);

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;
      color: var(--color-text-light);
      text-align: center;
      line-height: 1.5em;
    }

    canvas {
      background-color: var(--color-bg-light);
    }
  }

  .noise-properties {
    @include flex(20px);
    // @include grid(10px 2);
    padding: 0 var(--padding);
    margin-bottom: 20px;

    .form-select {
      flex: 1;
    }
  }

  .filter-inputs.noise {
    padding: 0 var(--padding);
    margin-bottom: 20px;
  }

  .quality-wrap {
    @include grid(10px, 1fr 32px);
    align-items: center;

    span {
      text-align: right;
      font-size: 1.2rem;
    }
  }
}
