/*
Generic dropdown styling, allowing you to al
*/

.dropdown {
  border-radius: var(--radius-sm);
  background-color: var(--color-bg);
  padding: 5px 0;
  z-index: 1000;
  width: 176px;
  box-shadow: var(--shadow2);
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  border: 1px solid var(--color-border-light);

  a {
    @extend .button;
  }

  a,
  .button {
    // @include font(400);
    border-radius: 0 !important;
    justify-content: flex-start;
    font-weight: 400 !important;
    gap: 16px;
    padding: 0 16px;
    width: 100%;
    color: var(--color-text-light);

    &:hover {
      color: var(--color-text);
      background-color: var(--color-bg-light-hover);
    }

    svg {
      // width: 16px;
      text-align: center;
      color: var(--color-accent);
    }
  }

  hr {
    width: 100%;
    // border: none;
    border-color: var(--color-border);
    margin: 5px 0;
  }
}

.dropdown-wrap {
  position: relative;
}
